<div id="<%= dom_id errand %>">
  <p>
    <strong>Quantity:</strong>
    <%= errand.quantity %>
  </p>

  <p>
    <strong>Maximum spend:</strong>
    <%= errand.maximum_spend %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= errand.brand_id %>
  </p>

  <p>
    <strong>Estimated serving count:</strong>
    <%= errand.estimated_serving_count %>
  </p>

  <p>
    <strong>Estimated serving measurement:</strong>
    <%= errand.estimated_serving_measurement %>
  </p>

  <p>
    <strong>User:</strong>
    <%= errand.user_id %>
  </p>

</div>
