<div class="wrapper-div" style="border:1px solid black">
  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :maximum_spend, style: "display: block" %>
    <%= form.text_field :maximum_spend %>
  </div>

  <div>
    <%= form.label :brand_id, style: "display: block" %>
    <%= form.select(:brand_id, options_from_collection_for_select(Brand.all, :id, :name)) %>
  </div>

  <div>
    <%= form.label :estimated_serving_count, style: "display: block" %>
    <%= form.number_field :estimated_serving_count %>
  </div>

  <div>
    <%= form.label :estimated_serving_measurement, style: "display: block" %>
    <%= form.text_field :estimated_serving_measurement %>
  </div>

  <%= link_to_remove_nested(form) %>
</div>