<%= form_for(budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="flex justify-apart">
      <div>
        <%= form.label :duration, style: "display: block" %>
        <%= form.text_field :duration, id: "duration_#{budget.id}", 'data-controller': 'range' %>
      </div>

      <div>
        <%= form.label :total, style: "display: block" %>
        <%= form.text_field :total %>
      </div>
      <div>
        <label><%= I18n.t('labels.create_list') %></label>
        <%= form.submit %>
      </div>
    </div>

  <div>
    <%= link_to_add_nested(form, :errands, '#budget-errands', partial: 'budgets/errands_fields') %>
    <div id='budget-errands' class="hidden">
      <%= form.fields_for :errands do |budget_errand_form| %>
        <%= render 'errands', form: budget_errand_form %>
      <% end %>
    </div>
  </div>


<% end %>
