<div id="<%= dom_id shopping_selection %>">
  <p>
    <strong>Recommend store:</strong>
    <%= shopping_selection.recommend_store_id %>
  </p>

  <p>
    <strong>Alternate store:</strong>
    <%= shopping_selection.alternate_store_id %>
  </p>

  <p>
    <strong>Best deal:</strong>
    <%= shopping_selection.best_deal_id %>
  </p>

  <p>
    <strong>Alternate product:</strong>
    <%= shopping_selection.alternate_product_id %>
  </p>

  <p>
    <strong>Alternate brand:</strong>
    <%= shopping_selection.alternate_brand_id %>
  </p>

</div>
