<%= form_with(model: pipeline) do |form| %>
  <% if pipeline.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>

      <ul>
        <% pipeline.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :target, style: "display: block" %>
    <%= form.text_field :target, value: pipeline.target, required: true %>
  </div>

  <div>
    <%= form.label :department_id, 'Department', style: "display: block" %>
    <%= form.select :department_id, options_from_collection_for_select(Department.all, :id, :name, pipeline.department_id), required: true  %>
  </div>

  <div>
    <%= form.label :store_id, 'Store', style: "display: block" %>
    <%= form.select :store_id, options_from_collection_for_select(Store.all, :id, :name, pipeline.store_id), required: true %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website, value: pipeline.website, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
