<div id="<%= dom_id pipeline %>">
  <p>
    <strong>Target:</strong>
    <%= pipeline.target %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= pipeline.department %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= pipeline.store %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= pipeline.website %>
  </p>

</div>
