<p style="color: green"><%= notice %></p>

<%= render @pipeline %>

<%= notice %>

<div>
  <!-- TODO: ActiveJob in background and ActionCable to notify front-end -->
  <%= form_tag(run_pipeline_path(@pipeline), method: "post" ) do %>
    <%= submit_tag("Run this Web Scraping Pipeline") %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this pipeline", edit_pipeline_path(@pipeline) %> |
  <%= link_to "Back to pipelines", pipelines_path %>

  <%= button_to "Destroy this pipeline", @pipeline, method: :delete %>
</div>
