<div id="<%= dom_id product %>">
  <p>
    <strong>Measurement units:</strong>
    <%= product.measurement_units %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= product.item_id %>
  </p>

  <p>
    <strong>Filterable attributes:</strong>
    <%= product.filterable_attributes %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

</div>
