<div id="<%= dom_id sale %>">
  <p>
    <strong><%= number_to_currency(sale.price) %></strong> | <%= sale.store %> | <%= sale.date %>
  </p>
  <p><%= sale.package %></p>
  <p><%= sale.details %></p>
</div>
