<div id="<%= dom_id sale %>">
  <p>
    <strong>Price:</strong>
    <%= sale.price %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= sale.package_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= sale.store_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sale.quantity %>
  </p>

</div>
