<p style="color: green">
  <%= notice %>
</p>

<h1>Sales</h1>

<% @sales.group_by(&:date).each do |date, sales| %>
  <%= date %>
  <div id="invalid-sales" class="grid">
    <% sales.each do |sale| %>
      <%= link_to(sale) do %>
        <%= render sale %>
      <%- end %>
    <% end %>
  </div>
<% end %>
<%= link_to "New sale" , new_sale_path %>